body {
    background-color: #c6c8cd;
    background-image: linear-gradient(135deg, #c6c8cd 0%, #797d8f 100%);
}

.container, header {
    margin-top: 10px;
    padding: 10px;

}

.contenedor-but {
    display: inline;
    align-content: center;
}

.dashboard {
    background-image: linear-gradient( 109.6deg,  rgba(45,116,213,1) 11.2%, rgba(121,137,212,1) 91.2% );
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif ;
    color: black;
}

.portada {
    width: 500px;
    height: 300px;
    border-color: black;
    border-width: 10em;
}

.btn-light:hover {
    background-color: black;
    color: white;
}

.btn-dark:hover {
    background-color: white;
    color: black;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-style: italic;
    color: whitesmoke;
}

@media only screen and (max-width: 1024px){
    .contenedor2 {
    flex-direction: column;
    gap: 20px;
  }
}

